In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
pwd = os.getcwd()
dataset_budget = pd.read_csv(pwd + "\\Budget.csv")
dataset_budget

dataset_forecast = pd.read_csv(pwd + "\\Forecast.csv")
dataset_forecast

            Date            IT Dep.     CostElement Country Forecast
0      1/07/2020     Administration  Administrative     USA  -21,785
1      1/08/2020     Administration  Administrative     USA  -21,785
2      1/09/2020     Administration  Administrative     USA  -21,785
3      1/10/2020     Administration  Administrative     USA  -21,785
4      1/11/2020     Administration  Administrative     USA  -21,785
...          ...                ...             ...     ...      ...
11022  1/07/2020  Vendor Management        Training     USA    3,544
11023  1/08/2020  Vendor Management        Training     USA    3,544
11024  1/09/2020  Vendor Management        Training     USA    3,544
11025  1/10/2020  Vendor Management        Training     USA    3,544
11026  1/11/2020  Vendor Management        Training     USA    3,544

[11027 rows x 5 columns]


Sprawdzenie typu w kolumnie Budget

In [36]:
type(dataset_budget["Budget"][1])

str

``` .str.replace(",","") ``` Zam

In [37]:
x_b = dataset_budget["Budget"].str.replace(",","").astype(float)
x_b

0          87.0
1          87.0
2          87.0
3          87.0
4          87.0
          ...
10588    2450.0
10589    2450.0
10590    2450.0
10591    2450.0
10592    2450.0
Name: Budget, Length: 10593, dtype: float64

In [38]:

x_f = dataset_forecast["Forecast"].str.replace(",","").astype(float)
x_f

0       -21785.0
1       -21785.0
2       -21785.0
3       -21785.0
4       -21785.0
          ...
11022     3544.0
11023     3544.0
11024     3544.0
11025     3544.0
11026     3544.0
Name: Forecast, Length: 11027, dtype: float64

In [39]:
dataset_budget["Budget"] = x_b
dataset_budget

            Date            IT Dep.           CostElement Country  Budget
0      1/01/2020     Administration  Employee Performance     USA    87.0
1      1/02/2020     Administration  Employee Performance     USA    87.0
2      1/03/2020     Administration  Employee Performance     USA    87.0
3      1/04/2020     Administration  Employee Performance     USA    87.0
4      1/05/2020     Administration  Employee Performance     USA    87.0
...          ...                ...                   ...     ...     ...
10588  1/07/2020  Vendor Management              Training     USA  2450.0
10589  1/08/2020  Vendor Management              Training     USA  2450.0
10590  1/09/2020  Vendor Management              Training     USA  2450.0
10591  1/10/2020  Vendor Management              Training     USA  2450.0
10592  1/11/2020  Vendor Management              Training     USA  2450.0

[10593 rows x 5 columns]

In [29]:
dataset_forecast["Forecast"] = x_f
dataset_forecast

            Date            IT Dep.     CostElement Country  Forecast
0      1/07/2020     Administration  Administrative     USA  -21785.0
1      1/08/2020     Administration  Administrative     USA  -21785.0
2      1/09/2020     Administration  Administrative     USA  -21785.0
3      1/10/2020     Administration  Administrative     USA  -21785.0
4      1/11/2020     Administration  Administrative     USA  -21785.0
...          ...                ...             ...     ...       ...
11022  1/07/2020  Vendor Management        Training     USA    3544.0
11023  1/08/2020  Vendor Management        Training     USA    3544.0
11024  1/09/2020  Vendor Management        Training     USA    3544.0
11025  1/10/2020  Vendor Management        Training     USA    3544.0
11026  1/11/2020  Vendor Management        Training     USA    3544.0

[11027 rows x 5 columns]

In [30]:
type(dataset_budget["Budget"][1])

str

Zapisanie zmienionych plików do excela

In [41]:
dataset_forecast.to_csv(pwd + "\\Forecast_edited.csv", index=False)
dataset_budget.to_csv(pwd + "\\Budget_edited.csv", index=False)