# Part 2: Full Data Workflow A-Z

## Importing Data from the Web  with pd.read_html()

In [2]:
import pandas as pd

In [3]:
url = "https://en.wikipedia.org/wiki/1976_Summer_Olympics_medal_table"

In [6]:
pd.read_html(url)[0]

,1976 Summer Olympics medals,1976 Summer Olympics medals.1,Unnamed: 2
0,Location,"Montreal, Canada",NaN
1,Highlights,Highlights,NaN
2,Most gold medals,Soviet Union (49),NaN
3,Most total medals,Soviet Union (125),NaN
4,← 1972 · Olympics medal tables · 1980 →,← 1972 · Olympics medal tables · 1980 →,NaN
5,← 1972 ·,Olympics medal tables,· 1980 →

In [7]:
wik_1976 = pd.read_html(url)[0]

In [8]:
wik_1976.head()

,1976 Summer Olympics medals,1976 Summer Olympics medals.1,Unnamed: 2
0,Location,"Montreal, Canada",NaN
1,Highlights,Highlights,NaN
2,Most gold medals,Soviet Union (49),NaN
3,Most total medals,Soviet Union (125),NaN
4,← 1972 · Olympics medal tables · 1980 →,← 1972 · Olympics medal tables · 1980 →,NaN

In [ ]:
wik_1976.tail()

In [ ]:
wik_1976.info()

In [9]:
url2 ="https://en.wikipedia.org/wiki/1996_Summer_Olympics_medal_table"

In [14]:
pd.read_html(url2)[0]

,1996 Summer Olympics medals,1996 Summer Olympics medals.1,Unnamed: 2
0,Location,"Atlanta, United States",NaN
1,Highlights,Highlights,NaN
2,Most gold medals,United States (44),NaN
3,Most total medals,United States (101),NaN
4,← 1992 · Olympics medal tables · 2000 →,← 1992 · Olympics medal tables · 2000 →,NaN
5,← 1992 ·,Olympics medal tables,· 2000 →

In [ ]:
wik_1996 = pd.read_html(url2)[1]

In [ ]:
wik_1996.head()

In [ ]:
wik_1996.info()

In [ ]:
wik_1976.to_csv("wik_1976.csv", index= False)
wik_1996.to_csv("wik_1996.csv", index= False)