In [4]:
import pandas as pd
import numpy as np

In [5]:
df = pd.DataFrame(
    {
        "A": ["foo", "barmanka fajna jest", "foo", "bar", "foo", "bar", "foo", "foo"],
        "B": ["one", "one", "two", "three", "two", "two", "one", "three"],
        "C": np.random.randn(8),
        "D": np.random.randn(8),
    }
)

df.groupby("A").sum()

            C         D
A
bar -1.582072 -2.410000
foo  1.459632 -1.702665